/* ------------------------------------- */
/* CSS RESET */
/* ------------------------------------- */


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.1;
    font-weight: 400;
    padding: 0;
    margin-block: 0;
    font-size: inherit;
}

img {
    max-inline-size: 100%;
    display: block;

}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* ------------------------------------- */
/* Custom Properties */
/* ------------------------------------- */

:root {
    /* Colors */
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #909090;
    --clr-neutral-900: #232830;

    --clr-sky-blue: #4699E0;


    --clr-accent: #FF7575;

    /* Typograph */

    --fs-400: .875rem;
    --fs-500: 1rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;

    --fs-900: clamp(2rem, 2.5vw, 3rem);

    /* Font-Weight  */

    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* Font-Families  */

    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: "Recursive", serif;

}
@media (max-width: 35em) {
    :root {
        /* Typograph */
        --fs-400: .875rem;
        --fs-500: 1rem;
        --fs-600: 1rem;
        --fs-700: 1rem;
        --fs-900: clamp(1.6rem, 1vw, 2rem);
    }
}

/* ------------------------------------- */
/* Utility Classes */
/* ------------------------------------- */

/* Colors  */

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.text-neutral-200 {
    color: var(--clr-neutral-200);
}

.text-neutral-900 {
    color: var(--clr-neutral-900);
}

.text-sky-blue {
    color: var(--clr-sky-blue);
}

.text-accent {
    color: var(--clr-accent);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
    background-color: var(--clr-neutral-200);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.bg-sky-blue {
    background-color: var(--clr-sky-blue);
}

.bg-accent {
    background-color: var(--clr-accent);
}


/* Font-Size  */
.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-900 {
    font-size: var(--fs-900);
}


.flex {
    display: flex;
    --gap: 1rem;
    gap: var(--gap);
}

.center {
    /* justify-content: center; */
    align-items: center;
}

.flow>*:not(:last-child) {
    --flow-gap: 1.5rem;
    margin-bottom: var(--flow-gap);
}

.italic {
    font-style: italic;
}

/* ------------------------------------- */
/* Global Styles */
/* ------------------------------------- */

body {
    position: relative;
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(8rem, 8rem) 1fr minmax(8rem, 8rem);
    grid-template-rows: minmax(30px, 60px) auto minmax(30px, 60px);
    grid-template-areas: ". header ."
        ". main ."
        ". footer .";
}

@media (max-width: 35em) {
    body {
        grid-template-columns: 1rem 1fr 1rem;

        grid-template-rows: minmax(30px, 60px) auto minmax(30px, 60px);

        grid-template-areas: ". header ."
            ". main ."
            ". footer .";


    }
}
hr {
    grid-column-start: 1;
    grid-column-end: 4;
    color: var(--clr-neutral-100);
}

header {
    grid-area: header;
    position: relative;
    /* background-color: var(--clr-sky-blue); */
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;

}
#menu-btn{
    display: none;
}
@media (max-width: 35em) {
    header {
        margin-top: 1rem;
    }
    header > h1,p{
        text-align: center;
    }
    #menu-btn{
        display: block;
        z-index: 200;
    }
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

nav {
    height: 100%;
   
}

ul[role="list"] {
    list-style: none;
    /* color: inherit; */
    display: flex;
    gap: 1rem;
}

li[role="listitem"] a {
    color: inherit;
    cursor: pointer;
}
@media (max-width: 35em) {
    nav ul[role="list"] {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(95, 95, 95, 0.716);
        
        top: 0;
        left: 100%;
        z-index: -1;
        overflow: hidden;
        width: 100%;
        height:max-content;
        gap: 2rem;
        padding : 2rem;
        transition: all 0.5s;
    }
    .nav-open ul[role="list"] {
        z-index: 100;
        left: 0;
    }
    nav li[role="listitem"] a{
        padding : 4px 12px;
        border : 1px solid var(--clr-neutral-100);
        border-radius: 25px;
    }
}

/* ------------------------------------- */
/* Components Styles */
/* ------------------------------------- */

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-sky-blue);
    padding: 6px 16px;
    font-size: var(--fs-500);
    font-weight: var(--fw-600);
    border: 0px;
    border-radius: 5px;
}
@media (max-width: 35em) {
    .primary-btn {
        padding : 4px 8px;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap : 1rem;
        margin-bottom: 1rem;
    }
}

/* ------------------------------------- */
/* Hero Section */
/* ------------------------------------- */


#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#hero h1 {
    line-height: 2;
    font-family: var(--ff-secondary);
}
#hero p{
    font-family: var(--ff-secondary);

}
#logo{
    height: 10rem;
    max-inline-size: 100%;
}
@media screen and (max-width: 35em) {
    #logo{
        height: 5rem;
    }
    
}

/* ------------------------------------- */
/* Blog Section */
/* ------------------------------------- */


#blog {
    position: relative;
    display: block;
    margin-bottom: 5rem;
}

.category {
    display: grid;
    grid-template-columns: minmax(5rem, 5rem) 1fr;
    grid-template-areas: 'layoutbutton categories';
    margin-bottom: 5rem;
}

.layout-btn {
    grid-area: layoutbutton;
}

.categories {
    grid-area: categories;
    /* background-color: linear-gradient(90deg, red, green); */
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: auto;
}

.bloglist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

}

@media (max-width: 35em) {
    .bloglist {
        grid-template-columns: 1fr;
        gap:1rem;

    }
}
article {
    background-color: var(--clr-neutral-100);
    color: black;
    padding: 1.5rem;
    border-radius: 25px;
    /* width: 440px; */
    height: auto;
}

article h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-600);
}

article p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}